body{
    font-family: helvetica;
    background: #ffffff;
}

#header{
    margin-top: 0px;
    text-align: center;
    height:60px;
    line-height: 40px;
    background: #0039cb;
}

h1{
    padding-top: 10px;
    padding-bottom: 20px;
    vertical-align: middle;
    color: white;
    font-weight: bold;
}

.row{
    margin: 10px 20px;
}

#results{
    margin: 30px 20px 10px 0px;
}

.person-row{
    margin: 10px 0px;
    padding: 10px;
    width: 100%;
    color: white;
    font-weight: bold;
    font-size: 20px;
    float: left;
    background-color: #82b1ff;
}

.person-row img{
    height: 80px;
    width: 80px;
    float: left;
}

.person-row > button {
    float: right;
}

.available {
    color: green;
}

.select{
    color: blue;
    font-weight: bold;
}

.gender{
    background: #64b5f6;
    color: white;
    font-weight: bold;
    border-radius: 3px;
    border:0;
}

.please{
    color: blue;
    font-weight: bold;
}

.searchBtn{
    background: #81c784;
    color: white;
    font-weight: bold;
    border-radius: 3px;
    border:0;
}

.foot{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: #0039cb;
}
